[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
flask = "*"
tweepy = "*"
flask-socketio = "*"
eventlet = "*"
pytz = "*"

[dev-packages]
black = "*"

[requires]
python_full_version = "3.6.5"

[pipenv]
allow_prereleases = true
