@font-face{
    font-family: AvenirNextLTPro-UltLt;
    src: url('../vendor/avenir-next-lt-pro-cufonfonts-webfont/AvenirNextLTPro-UltLt.woff');
}


#tweet{
    width: 400px !important;

}

#tweet iframe{
    border: none !important;
    box-shadow: none !important;
}

#tweets {
    width: 500px;
    margin: 0 auto;
    background-color: #212121 !important;
    color: white !important;
}

#darksky{
    width: 100%;
    font-size: 300%;
    font-family: AvenirNextLTPro-UltLt;
    letter-spacing: -3px;
    background-color: #0e0d0d !important;
    overflow: auto;
    
}
#temp{
    background-color: #0e0d0d;
    float: left;
    padding: 0px 15px;
}

#sun{
    float: right;
    margin: 0 auto;
    font-family: AvenirNextLTPro-UltLt;
    letter-spacing: -3px;
    background-color: #0e0d0d;
    padding: 0px 15px;
}

body {
    background-color: #212121;
    color: white;
  }

.EmbeddedTweet {
    background-color: #212121 !important;
    color: white !important;
  }

