@font-face{
    font-family: AvenirNextLTPro-UltLt;
    src: url('../vendor/avenir-next-lt-pro-cufonfonts-webfont/AvenirNextLTPro-UltLt.woff');
}

html{
    overflow:hidden;
    width: 100%;
    height: 100%;
}

body {
    background-color: #212121;
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
  }

.darksky{
    width: 100%;
    font-size: 450%;
    font-family: AvenirNextLTPro-UltLt;
    letter-spacing: -3px;
    background-color: #0e0d0d !important;
    overflow: auto;
    background-image:
    linear-gradient(
        black, #212121
    );  
}

.darksky .slide .slide_child .sun{
    float: right;
    margin: 0 auto;
    font-family: AvenirNextLTPro-UltLt;
    letter-spacing: -3px;
    padding: 10px 15px;
    overflow:auto;
}

.temp{
    float: left;
    padding: 10px 15px;
    overflow: auto;
}

.slide{
   float: right;
   overflow:hidden;
   height: 1.35em;
}

.slide_child{
  animation: slider infinite 30s alternate;
  animation-timing-function: ease;
  height: 200%;
}

@keyframes slider{
  0%{
    margin-top:-40%;
  }
  46%{
    margin-top:-40%;
  }
  52%{
    margin-top:0%
  }
  100%{
    margin-top:0%
  }
}

#tweets {
    width: 500px;
    margin: 0 auto;
    background-color: #212121 !important;
    color: white !important;
}